.question-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 16px;
  .title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: '仓耳渔阳体 W05';
  }
}
.center {
  height: calc(100% - 48px);
  padding: 16px 0;
  background-color: #fff;
  overflow: auto;
  .tool-list-container {
    margin-bottom: 16px;
  }
  .load-more {
    text-align: center;
  }
}
.footer {
  padding: 8px;
  text-align: right;
  background-color: #ffffff;
}