@font-face {
    font-family: "仓耳渔阳体 W01";
    font-weight: 400;
    src: url("TsangerYuYangT_W01_W01.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "仓耳渔阳体 W02";
    font-weight: 400;
    src: url("TsangerYuYangT_W02_W02.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "仓耳渔阳体 W03";
    font-weight: 400;
    src: url("TsangerYuYangT_W03_W03.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "仓耳渔阳体 W04";
    font-weight: 400;
    src: url("TsangerYuYangT_W04_W04.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "仓耳渔阳体 W05";
    font-weight: 400;
    src: url("TsangerYuYangT_W05_W05.ttf") format("truetype");
    font-display: swap;
}