.left {
  width: 200px;
  font-size: 12px;
}

.center {
  flex: 1;
  text-align: center;
}

.center img {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.right {
  width: 100px;
  text-align: right;
}