.header {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: #ffffff;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  height: calc(100% - 48px);
  background-color: rgb(229, 229, 229);
  background-image: linear-gradient(rgb(224, 224, 224) 1px,transparent 0),linear-gradient(90deg,rgb(224, 224, 224) 1px,transparent 0);
  background-size: 20px 20px;
  overflow: auto;
  .left,
  .right {
    width: 200px;
    height: 100%;
    border-top: 1px solid rgb(224, 224, 224);
    background-color: #ffffff;
    box-sizing: border-box;
  }
  .center {
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
    .canvas-wrapper {
      position: absolute;
      width: 400px;
      height: 712px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-color: #ffffff;
      overflow: auto;
    }
  }
}