.container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }

  span {
    font-size: 16px;
    color: #f7f7f7;
  }
}
