.container {
    border-radius: 3px;
}

.title {
    display: flex;

    .left {
        flex: 1;
    }

    .right {
        flex: 1;
        text-align: right;
        font-size: 12px;
    }
}

.button-container {
    display: flex;
    margin-top: 16px;

    .left {
        flex: 1;
    }

    .right {
        flex: 1;
        text-align: right;

        button {
            color: #999
        }
    }
}