.main {
    height: calc(100vh - 64px - 66px);
}
.head-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001529;
    color: #f7f7f7;
}